footer {
  padding-top: 3rem;
  line-height: 1rem;
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(51, 51, 51);
}

.icons {
  color: rgb(51, 51, 51) !important;
}

.icons:hover {
  color: #8b005d !important;
}
